.directory
.idea
.config/fish/fish_variables
.config/micro/buffers/history
.config/micro/backups
.config/pypoetry/poetry.lock
.config/pypoetry/pyproject.toml
.local/share/konsole/bookmarks.xml
.local/share/konsole/bookmarks.xml.tbcache
