[user]
    email = stigofstad@gmail.com
    name = Stig Ofstad
    signingkey = ~/.ssh/id_rsa
[alias]
    co = checkout
    st = status
    # %h=short hash, %ad=author date, %aN=author name, %s=subject(message), %D=ref names
    l = log --graph --format=format:'%C(yellow)%h% %C(blue)%>(12) %ad %C(green)%>(12,mtrunc)%aN%C(auto,reset)  %s%C(auto) %D'
[core]
    editor = vim
    autocrlf = false
[log]
    date = relative
[pull]
	rebase = true
[push]
    autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
